{% extends 'base.html' %}
{% load bootstrap4 %}

{% load range %}
{% block content %}
    <div class="container">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Оформление заказа</h4>
                <p class="card-text">
                <table class="table table-reflow table-striped">
                    {% for item in items %}
                        {% for _ in item.quantity|range %}
                            <tr>
                                <th class="col-8" style="max-width: 64em">{{ item.item.name }}</th>
                                <th class="col-2" style="max-width: 6em"><b>{{ item.item.price }} руб.</b></th>
                                <th class="col-2">
                                    <a class="btn btn-primary" href="{% url "remove_item" item.id %}">
                                        <span aria-hidden="true">&times;</span>
                                    </a>
                                </th>

                            </tr>
                        {% endfor %}
                    {% empty %}
                        <li style="margin-top: 1em">Пусто
                        </li>
                    {% endfor %}
                </table>
                <h4>Итого: <b>{{ total }} руб.</b></h4>
                </p>
                <form action="#" method="post" id='checkout'>
                    {% csrf_token %}
                    {% bootstrap_form form %}
                </form>
                <div class="btn-group" role="group" aria-label="Basic example">
                    <button class="btn btn-primary" type="submit" value="checkout" form="checkout">Оформить</button>
                    <a class="btn btn-primary" href="{% url 'home' %}">Домой</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}